
.content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* padding: 40px; */
}
.imgscreen{
    position: absolute;
    top: 37px;
    left: 156px;
}   
.left{
    align-items: center;
    border-radius: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 100%;
    margin: 0 0 10px;
    padding: 10px 0;
    position: relative;
}
.insta-header {
    margin: 50px 0;
}
.insta-header .insta-heading{
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y-/r/yXM3FgMdVNX.png);
    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;
}
.content1 {
    /* background-color: rgb(253, 252, 252); */
    background-color: #ffffff;
    border:1px  solid rgb(219, 219, 219);
    width: 300px;
    max-width: 100%;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
}
.insta-font {
    margin: 20px 0;
}
.inputType {
    display: flex;
}
.log-in-btn{
    width: 100%;
    padding: 5px;
    border: none;
    margin-top: 10px;
    border-radius: 7px;
    font-weight: 700;
    background-color: rgb(0, 149, 246);
    color: white;
}

.storeContent {
    display:flex;
    gap: 10px;
    justify-content: center;
}
.store-img {
    width: 9vw;
}