* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 249, 249);
}

/* utils */
.flex{
    display: flex;
}
.content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* padding: 40px; */
}
.imgscreen{
    position: absolute;
    top: 37px;
    left: 156px;
}   
.left{
    align-items: center;
    border-radius: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 100%;
    margin: 0 0 10px;
    padding: 10px 0;
    position: relative;
}
.insta-header {
    margin: 46px 0;
}
.insta-header .insta-heading{
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y-/r/yXM3FgMdVNX.png);
    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;
}
.content1 {
    background-color: rgb(255, 255, 255);
    /* background-color: #ffffff; */
    border:1px  solid rgb(219, 219, 219);
    width: 340px;
    max-width: 100%;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
}
.label-class {
    position: relative;
    font-size: 100%;
}
.input-holders{
    position: absolute;
    height: 36px;
    left: 7px;
    right: 0;
    line-height: 36px;
    margin: 0;
    overflow: hidden;
    font-size: 12px;
    color: rgb(142,142, 142);
    border: 0;
    transition: font .1s ease,top .1s ease,transform .1s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.label-class .btnInput:focus ~ span{
    bottom: 0;
    right: 0;
    font-size: 0.6rem;
    pointer-events: none;
}
.insta-font {
    margin: 20px 0;
}
.inputType {
    width: 100%;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    gap: 5px;
}
.btnInput {
    width: 100%;
    height: 36px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    padding: 0 5px;
    font-size: 0.75rem;
    background-color: rgb(249, 249, 249);
    
}
.btnInput:focus{
    outline: none;
    outline-style: solid;
    outline-width: thin;
    outline-color: #5f5e5e; 
}
.log-in-btn{
    width: 100%;
    height:30px;
    border: none;
    margin-top: 10px;   
    border-radius: 7px;
    font-weight: 600;
    /* background-color: rgb(0, 149, 246); */
    background-color: #47afff;
    color: white;
}
.fb-color{
    color: #385185;
}
.fa-square-facebook{
    font-size: 1.15rem;
    margin-right: 2px;
}
.pwd-content {
    padding: 10px 70px 20px;
}
.f-pwd {
    font-weight: 200;
    font-size: 0.8rem;
    color: rgb(0, 55, 107);
}
.line {
    display: flex;
    gap: 20px;
    margin-top: 15px ;
}
.arrow {
    height: 1px;
    background-color: rgb(219, 219, 219);  
    width: 198px;
    align-self:center ;
}
.storeContent {
    display:flex;
    gap: 10px;
    justify-content: center;
}
.line span{
    color:gray;
    font-weight: 700;
    font-size: 0.8rem;
}
.fb-login{
    /* padding: 20px 40px; */
 justify-content: center;
 display: flex;
    align-items: center;
    margin: 20px 0 10px;
}
.redirectBtn {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 600;
    /* align-items: center; */
    
}
.dont {
    padding: 20px 0;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
}
.dont-para {
    font-size: 14px;
    color: #262626;
}
a.redirectBtn {
    text-decoration: none;
    color: #47afff;
}
.storeContent{
    flex-direction: column;
    align-items: center;
    gap : 20px;
    margin-top: 25px;
}
.store-img {
    height: 40px;
}